<div id="confirm-confirmation-delete" class="modal">
    <div class="modal-box">
        <p>Y̷̡͈̜̗̼̲̗͔͓̥̏͌̎̈́͋̌͂̇o̸̝̖͂͒͆̅̐͊̎̀̑͋̑̽̈͘̕͠u̸͎͋͂̆ ̸̨̛͉͔̙̱̜̹̜̌̏͗́͋́̒́̀̇̽̕͝͝s̴̞̼̼̺̗͈̺̋͑͝ư̵̼̠̼̟̱̣̜̆͛̅͌̇̎͗̕͜͜r̸̺͍͕̜̱͔̞̈́̈̒̽͌͋̃̀̾͌̈̏͘̚ȩ̵̠̤̙̓͒͛̿͆̓̕͝l̸͈̰̰͇͗̈́͂̓̑͝y̴̹̮̮̦̩̯̬̐̽͌̑̐̏̍͂͂̑̄́͝ ̵̡̨̛̦͇͈̠̞͈̿̊̀̐̋̆̈͌͌̓͊̕͘͜͝ͅẇ̸̡̬͓͔͖̦̠̦͈̩̪͎̭͚̫̀̽̿͗͌͗̏́̉͑̔̿̊̈́̽a̸̱̪͗̀̊̅ͅņ̷̧̥̫͔̓̂̾̏͐̓̿̀̔̈́͝ͅt̵̨̧̻͍̪̰̦͎͇̺̩̦̿͆̐̈͜ͅ ̵̲̟̮̤̲͖̐͊̕t̵͖̀͗̔ơ̵̡̛̟͔̝̳̖̬̤̤̮͉̈́̓͐͆͗̓́̃̾ ̷͕̦̫͚̮̠̦̹͐̐͗́ͅç̶̢̟̠͚̒̅͆͒͂͐͒̋́̂̽̎̚̚͝o̴̧̰͋̌͋͂̂n̴̩͉͉̒̔̀͊̓̓͆̋̔̕͘͘͝t̷̢̩̮͔̝͖͖̙͖̘͍͕̙͔́̀̀̾͠i̷̢̡̡͓̣͍̹͈̦͉̜̘̠̞̳̿̈́͐̋̔̏̊̐̚̕͝n̵̰͔͆̌̈́̊̌̒̈́̐̀́́̑̌̚͝ų̸̙͚͎́͐̍̋̀̿̓͜͝ͅe̸̛̳͇̮̦͑́̄̄͗͋͗͗̀͌̃͒̂̕ ?</p>
        <button >Delete!</button>
        <a href="{% url 'employees:current-employees' %}">No I yield </a>
    </div>
</div>