<div id="confirm-confirmation-delete" class="confirm-overlay">
    <div class="confirm-box">
        <p>Y̷̡͈̜̗̼̲̗͔͓̥̏͌̎̈́͋̌͂̇o̸̝̖͂͒͆̅̐͊̎̀̑͋̑̽̈͘̕͠u̸͎͋͂̆ ̸̨̛͉͔̙̱̜̹̜̌̏͗́͋́̒́̀̇̽̕͝͝s̴̞̼̼̺̗͈̺̋͑͝ư̵̼̠̼̟̱̣̜̆͛̅͌̇̎͗̕͜͜r̸̺͍͕̜̱͔̞̈́̈̒̽͌͋̃̀̾͌̈̏͘̚ȩ̵̠̤̙̓͒͛̿͆̓̕͝l̸͈̰̰͇͗̈́͂̓̑͝y̴̹̮̮̦̩̯̬̐̽͌̑̐̏̍͂͂̑̄́͝ ̵̡̨̛̦͇͈̠̞͈̿̊̀̐̋̆̈͌͌̓͊̕͘͜͝ͅẇ̸̡̬͓͔͖̦̠̦͈̩̪͎̭͚̫̀̽̿͗͌͗̏́̉͑̔̿̊̈́̽a̸̱̪͗̀̊̅ͅņ̷̧̥̫͔̓̂̾̏͐̓̿̀̔̈́͝ͅt̵̨̧̻͍̪̰̦͎͇̺̩̦̿͆̐̈͜ͅ ̵̲̟̮̤̲͖̐͊̕t̵͖̀͗̔ơ̵̡̛̟͔̝̳̖̬̤̤̮͉̈́̓͐͆͗̓́̃̾ ̷͕̦̫͚̮̠̦̹͐̐͗́ͅç̶̢̟̠͚̒̅͆͒͂͐͒̋́̂̽̎̚̚͝o̴̧̰͋̌͋͂̂n̴̩͉͉̒̔̀͊̓̓͆̋̔̕͘͘͝t̷̢̩̮͔̝͖͖̙͖̘͍͕̙͔́̀̀̾͠i̷̢̡̡͓̣͍̹͈̦͉̜̘̠̞̳̿̈́͐̋̔̏̊̐̚̕͝n̵̰͔͆̌̈́̊̌̒̈́̐̀́́̑̌̚͝ų̸̙͚͎́͐̍̋̀̿̓͜͝ͅe̸̛̳͇̮̦͑́̄̄͗͋͗͗̀͌̃͒̂̕ ?</p>
        <button class="btn btn-danger">Delete!</button>
        <a class="btn btn-outline-secondary" href="{% url 'employees:current-employees' %}">No I yield </a>
    </div>
</div>