{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}
    Welcome to our page with real IT agents ! {# that was a lie  #}
{% endblock %}
{% block content %}
    {% for employee in employees %}
        <div>
            Name: {{ employee.first_name }} {{ employee.last_name }}
            Short Bio: {{ employee.bio|truncatewords:15 }}
            Hourly rate: {% color_by_hourly_rate employee.hourly_rate %}
            Profession: {{ employee.get_profession_display }}
            Rating: {{ employee.avg_rating|stars_cont }}
            Photo:
            {% if employee.photo %}
                <img src="{{ employee.photo.url }}" alt="{{ employee.first_name }} {{ employee.last_name }}">
            {% else %}
                <p>Too shy to show itself</p>
            {% endif %}
            <a href="">
                <button> Details</button>
            </a>
        </div>
    {% endfor %}
{% endblock %}