{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}
    Welcome to our page with real IT agents ! {# that was a lie  #}
{% endblock %}
{% block content %}
    {% for employee in employees %}
        <div>
            Name: {{ employee.first_name }} {{ employee.last_name }}
            Hourly rate: {% color_by_hourly_rate employee.hourly_rate %}
            Profession: {{ employee.get_profession_display }}
            Rating: {{ employee.avg_rating|stars_cont }}
            Availability: {{ employee }} {# fixing #}
            Photo: <img src="{{ employee.photo.url }}" alt="{{ employee.first_name }} {{ employee.last_name }}">
            <a href="{% url 'focused-employee' employee.id %}">
                <button> Details</button>
            </a>
        </div>
    {% endfor %}
{% endblock %}