{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
    <div>
        Name: {{ employee.first_name }} {{ employee.last_name }}
        Short Bio: {{ employee.bio|truncatewords:15 }}
        Hourly rate: {% color_by_hourly_rate employee.hourly_rate %}
        years of experience: {{ employee.years_of_experience }}
        Profession: {{ employee.get_profession_display }}
        Rating: {{ employee.avg_rating|stars_cont }}
        Photo: <img src="{{ employee.photo.url }}" alt="{{ employee.first_name }} {{ employee.last_name }}">
    </div>
    {% if not get_check %}
        <div>
            <a>
                <button>
                    Hire
                </button>
            </a>
            <a href="{% url 'focused-employee' employee.id %}?get_check=True">
                <button>
                    Leave a review
                </button>
            </a>
        </div>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button>Submit</button>
        </form>
    {% endif %}
{% endblock %}